


body {
    background-color:white;
}
/* titulo */
.principalTxt{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: #43425D;
    margin-top: 78px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 580px;
    display: flex;
    justify-content: space-between;
}

/* total cases */
.TotalCases{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    color: #E59D23;
    font-size: 86px;
}
.TotalSuspects{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    color: #09C6A4;
    font-size: 86px;
}

.TotalDeaths{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #E60F0F;
    font-size: 86px;
}
/* text total cases */
.Tcases{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #43425D;
    font-size: 28px;
}

.Tsuspects{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #43425D;
    font-size: 28px;
}

.Tdeaths{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #43425D;
    font-size: 28px;
}

/* posição das boxes */
#covidInfo{

}
ul{
    padding-left: 0;
}
/* boxes */
.anotherclass{
    list-style: none;
    width: 567px;
    background: #C2C8E24F 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 4px;
    opacity: 1;
    margin: 12px 0;
 }

 .boxes {
     padding: 20px;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;
 }

 /* estilo estados */
 .states{
    text-align: left;
    font-family: sans-serif;
    margin-top: 0;
    color: #43425D;
    margin-bottom: 0;
 }

 .indicadors {
    display: flex;
    width: 200px;
    justify-content:  space-between;
 }

 .indicadors div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

 /* estilo N casos */
 .Ncases{
    color: #E59D23;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 34px;
}

 /* estilo cases */
 .cases{
    font-family: sans-serif;
    color: #43425D;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0px;
    margin-bottom: 0;
}

 /* estilo N Deaths */
 .Ndeaths{
    color: #E60F0F;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    margin-bottom: 6px; 
    font-size: 34px;
 }

 /* estilo deaths */
 .deaths{
    font-family: 'Source Sans Pro', sans-serif;
    color: #43425D;
    margin-top: 0px;
    margin-bottom: 0;
}

 /* estilo N refuses */
.Nsuspects{
    color: #E59D23;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    margin-bottom: 6px; 
    font-size: 34px;
 }

 /* estilo refuses */
 .suspects{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #43425D; 
    margin-top: 0px;
    margin-bottom: 0;
}
